/sandbox/**
/.idea/**
/*.iml
/.git/**
/jars/**
/bundle/**
/.gradle/**
/vendor/**
/build/**
/examples/vendor/**
/package.hub.yml
/package.lock.yml
/gradle
/dn-sources/**
/out/**
/gradlew.bat
/gradlew
/settings.gradle
/build.gradle